.sobre_content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.circle_about {
    position: absolute;
    width: 13rem;
    height: 13rem;
    background-color: #1f2f8ab0;
    border-radius: 50%;
    filter: blur(5rem);
    z-index: 0;
}












.container_contato {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px 20px;   
    color: #fff;
}

.contato-item {
  text-align: center;
  max-width: 200px;
  transition: transform 0.3s ease;
}

.contato-item:hover {
  transform: scale(1.20);
}

.contato-item:hover .icone i {
  transform: scale(1.2);
}



.icone {
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  border-radius: 50%;
  background: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, transform 0.3s ease;
}

.icone i {
  font-size: 26px;
  color: var(--main-color);
  transition: transform 0.3s ease;
}


